# emacs Back Up files
*~
\#*#
*#

# LaTeX Aux files
*.log
*.aux
*.synctex
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.toc
*.out
*.nav
*.snm
*.vrb
*.bbl
*.blg

# Final LaTeX files
Introducción a LaTeX.pdf
Editores y Compiladores.pdf