# emacs Back Up files
*~
\#*#
*#

# LaTeX Aux files
*.log
*.aux
*.synctex
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.toc
*.out
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.run.xml
*.bcf
*blx.bib

# Final LaTeX files
Introducción a LaTeX.pdf
Editores y Compiladores.pdf
Elementos Básicos de Edición.pdf
LaTeX Online y Colaborativo.pdf
LaTeX en móviles.pdf
